<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animeisland.mapper.SeriesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.animeisland.entity.Series">
        <id column="id" property="id" />
        <result column="name_zh" property="nameZh" />
        <result column="name_origin" property="nameOrigin" />
        <result column="introduction" property="introduction" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name_zh, name_origin, introduction, type
    </sql>

</mapper>
